//字体图标库
[class*='icon-'],
[class^='icon-'] {
    font-family: 'iconfont';
    speak: none;
    font-size: 1rem;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: baseline;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

//主题颜色
$themeColor: #409EFF;

//边框
$titleBorder: 1px solid #EBEEF5; // 标题边框

//圆角
$boxRadius: 5px; // 盒子圆角


//过渡
$transition: .3s ease-in-out;

.common-wrap {
  display: flex;
  flex-direction: column;
}

//基础样式

