/**
* @file 公共样式修改
* @date 2020-03-06
* @author Yahui Li
*/
@import './base';

//菜单样式修改
.el-menu-vertical-demo:not(.el-menu--collapse) {
    width: 200px;
    height: 100%;
    min-height: 400px;
    overflow: hidden;
    overflow-y: auto;
}

.el-menu--collapse {
    height: 100%;
}

.el-menu-item-group__title {
    padding: 0;
}
.el-submenu__title,
.el-menu-item {
    height: 45px;
    line-height: 45px;
}

.el-submenu__title,
.el-menu-item {
    font-size: 16px;

    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    & > i {
        font-size: 16px;
    }
    .base_menu_title {
        font-size: 14px;
    }
}

.menu_icon {
    margin-right: 5px;
}
//子菜单样式
.base_menu_item {

}

//抽屉组件样式修改
.el-drawer .el-drawer__header span:focus {
    outline: none;
}
.base_drawer {
    &:focus {
        outline: none;
    }
    //标题
    .el-drawer__header {
        padding: 0 10px;
        margin: 0;
        height: 49px;
        line-height: 49px;
        border-bottom: $titleBorder;

        & > span, & > button {
            &:focus {
                outline: none;
            }
        }

        span {
            -webkit-user-select: none;
            -webkit-touch-callout: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
    }
    .el-drawer__body {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        word-wrap:break-word;
        word-break:normal;

        .base_drawer_content {
            flex: 1;
            width: 100%;
            padding: 10px;
            overflow-y: auto;
            box-sizing: border-box;
        }

        .base_drawer_footer {
            height: 50px;
            line-height: 50px;
            border-top: $titleBorder;
        }
    }
}

//搜索、表单组件样式修改
.search-wrap {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    padding-bottom: 0;
    .no-rules-item {
        margin-bottom: 10px;
    }
    .el-form-item {
        flex: 1;

        label {
            cursor: pointer;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
    .search-button {
        text-align: right;
    }
    .el-form-item__content > [class^='el-'] {
        width: 100%;
    }

    .el-form-item__content [class^='el-button'] {
        width: auto;
    }

}
